<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@500;700&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="/static/logo.png"/>
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body>
        <header class="welcome-header">
            <div class="welcome-navbar"> 
                <div class="logo-container">
                    <a href="/"><img class=logo-image src="/static/logo.png" alt="Logo"></a>
                    <h4 class="logo"><a class="logo-link" href="/">Loyal T</a></h4> 
                </div>
                <nav>
                    <ul class="nav-links">
                        <li><a class="nav-link" href="login">Log In</a></li>
                        <li><a class="nav-link" href="signup">Sign Up</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>