{% extends "layout.html" %}

{% block title %}
    LoyalT
{% endblock %}

{% block main %}
    <div class="welcome">
        <div class="welcome_content">
            <h1 class="welcome_header">The easy way to keep your customers coming back for more</h1>
            <br>
            <p class="welcome_sub_header">Join now to set up rewards programs that will keep your customers hooked and increase your revenue.</p>
            <br>
            <a href="/signup"><button class="get_started" type="button">Get started</button></a>
        </div>
        <div>
            <img src="/static/morning-brew-gpNGuzXYhEA-unsplash.jpg" style="width:800px; height:533.33px;" alt="Credit card">
        </div>
    </div>
{% endblock %}
